---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/sections/Hero.astro";
import Contact from "@/components/sections/Contact.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
---

<Layout title="curriculum vitae">
  <main class="p-8 md:p-16">
    <Hero />
    <Contact />
    <About />
    <Experience />
  </main>
</Layout>
